<% include layouts/top %>

<div id="particles-js">
  <div class="ui  main title">
 
    <a id="watch" href="/movies">Watch</a>
    
  </div>
</div>
<!-- <div class="ui inverted segment">
  <div class="ui mini inverted form">
      <div class="fields">
      <div class="field">
        <label>First Name</label>
        <input placeholder="First Name" type="text">
      </div>
      <div class="field">
        <label>Last Name</label>
        <input placeholder="Last Name" type="text">
      </div>

      <div class="field">
        <label>First Name</label>
        <textarea rows="2"></textarea>
      </div>
  </div>
</div>
 -->
<!--     
    <div class="inline field">
      <div class="ui checkbox">
        <input type="checkbox" tabindex="0" class="hidden">
        <label>I agree to the terms and conditions</label>
      </div>
    </div>
    <div class="ui submit button">Submit</div>
  </div>
</div>
  
 -->


 


<script src="/js/particles.js"></script> 

<script>
  particlesJS.load('particles-js','/js/basic.json', function(){
 
    console.log('we be good man.');
  
   });
</script>

<% include layouts/bottom %>