<% include layouts/top %>

<div id="particles-js">
  <div class="ui  main">

    
      <i class="fas fa-film"></i>
      <a id="watch" href="/movies">WATCH </a>
  </div>
</div>
<canvas class="background"></canvas>
 




<% include layouts/bottom %>