<% include layouts/top %>
<div id="particles-js">
  <div class="ui  main">

    
      <i class="fas fa-film"></i>
      <a id="watch" href="/movies">WATCH </a>
  </div>
</div>


 


<% include layouts/bottom %>