<% include layouts/top %>

<div class="ui  main">
    <form action="/login" method= "POST" class="ui form">
        
      <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" placeholder="Username or Email">
          </div>
        </div>   
        
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
          
        </div>
       
        <button class="ui button" type="submit">Submit</button>
      </form>

</div>

<% include layouts/bottom %>