<% include ../layouts/top %>

<div class="ui  main">
    <form action="/movies" method= "POST" class="ui form">
        <div class="field">
          <label>Title</label>
          <input type="text" name="movie[title]" placeholder="Title">
        </div>
        <div class="field">
          <label>Description</label>
          <textarea name="movie[description]"></textarea>
        </div>
        <div class="field">
          <label>Link 1 </label>
          <input type="text" name="movie[links]" placeholder="Links">
          <select class="ui dropdown" onchange="langFunction()" >
            <option value="0">vf</option>
            <option value="1">vostfr</option>
          </select>
        </div>
         <div class="field">
          <label>Link 2 </label>
          <input type="text" name="movie[links]" placeholder="Links">
          <select class="ui dropdown" onchange="langFunction()">
              <option value="0">vf</option>
              <option value="1">vostfr</option>
          </select>
        </div>
         <div class="field">
          <label>Link 3 </label>
          <input type="text" name="movie[links]" placeholder="Links">
          <select class="ui dropdown" onchange="langFunction()">
              <option value="0">vf</option>
              <option value="1">vostfr</option>
          </select>
        </div> 
        <div class="field">
          <label>Link  4 </label>
          <input type="text" name="movie[links]" placeholder="Links">
          <select class="ui dropdown" onchange="langFunction()">
              <option value="0">vf</option>
              <option value="1">vostfr</option>
          </select>
        </div>
        <div class="field">
          <label>Image</label>
          <input type="text" name="movie[image]" placeholder="imageurl">
        </div>
       
        <button class="ui button" type="submit">Submit</button>
      </form>

</div>
<script>

const langFunction = () => {
  let langs = document.querySelectorAll('select')
  langs = Array.from(langs)

  langs.forEach( (el) => {
    if(el.value == "0" ){
        el.previousElementSibling.setAttribute('name', 'movie[links][0]')
    } else if (el.value =="1") {
        el.previousElementSibling.setAttribute('name', 'movie[links][1]' )
    }
  })
}

langFunction();

  


</script>

<% include ../layouts/bottom %>